[Unit]
Description=uWSGI instance to serve ayaaws
After=network.target

[Service]
User=pedouard
Group=www-data
WorkingDirectory=/home/pedouard/git/ayaavalon/scripts
Environment="PATH=/home/pedouard/git/ayaavalon/venv/bin"
ExecStart=/home/pedouard/git/ayaavalon/venv/bin/uwsgi --ini ayaavalon.ini

[Install]
WantedBy=multi-user.target

