# Copy this file with :
#   cp datascience.conf.example datascience.conf
# And adapt it to your local environment.

# Test configuration should be added here directly, only the sections with the
# prefix "test:" will be taken into account. Running the tests with the
# following example will remove "parameter" and only "db" will be present with
# the value "test database".

# Parameters which should be changed by a new developper should be like :
# <NAME>
# Ideally with a comprehensive name, so that it may be replaced with a simple
# find & replace on any text editor or with grep & sed.

[ayaavalon]
db_host = localhost
db_port = 5432
db_name = database
db_user = <LDAP_USER>
db_password = <LDAP_PASSWORD>
db_uri = postgresql://%(db_user)s:%(db_password)s@%(db_host)s:%(db_port)s/%(db_name)s
parameter = 42

[test:ayaavalon]
db_host = localhost
db_port = 5432
db_name = test_database
db_user = <LDAP_USER>
db_password = <LDAP_PASSWORD>
db_uri = postgresql://%(db_user)s:%(db_password)s@%(db_host)s:%(db_port)s/%(db_name)s
