nose
sqlalchemy
alembic
psycopg2
beanstalkc
flask
webargs
matplotlib
scipy
sklearn
docopt
pandas
eegtools
jupyter
numpy
http://download.pytorch.org/whl/cpu/torch-0.3.1-cp27-cp27mu-linux_x86_64.whl
pint
tables
pysmb
dbus-python
dask[complete]
keyring
bokeh
-i https://devpi.corp.withings.com/root/prod/+simple/
parkscape
withings.api
